* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  cursor: url("style.jpg"), auto;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 220px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  gap: 20px;
  padding: 20px 20px;
  background: #f4f7ff;
}

/* header */
header {
  grid-area: header;
  background: linear-gradient(90deg, #007bff, #00a8ff);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header img {
  width: 80px;
  border: 3px solid white;
  border-radius: 20px;
}

/* sidebar */
aside {
  grid-area: sidebar;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

aside h2 {
  margin-bottom: 10px;
}

aside ul {
  list-style: none;
}

.menu-btn {
  width: 150px;
  padding: 10px 20px;
  margin: 8px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  background: linear-gradient(90deg, #007bff, #00a8ff);
  cursor: pointer;
  transition: 0.3s;
}

.menu-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

aside img {
  width: 100%;
  margin: 8px;
}

/* form pendaftaran */
.form-container {
  grid-area: main;
  background: white;
  padding: 20px 40px;
  max-width: 700px;
  border-radius: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.form-container h2 {
  margin-bottom: 10px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  color: black;
  text-align: left;
}

input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
  outline: none;
}

/* form buttons */
.form-buttons {
  display: flex;
  justify-content: left;
  gap: 15px;
}

.form-buttons button {
  width: 100px;
  padding: 10px 0;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-simpan {
  background: linear-gradient(90deg, #007bff, #00a8ff);
  color: white;
}

.btn-simpan:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 8px rgba(0, 123, 255, 0.3);
}

.btn-batal {
  background: #ccc;
  color: black;
}

.btn-batal:hover {
  background: #b5b5b5;
  transform: translateY(-2px);
  box-shadow: 0 5px 8px rgba(122, 122, 122, 0.3);
}

/* footer */
footer {
  grid-area: footer;
  display: flex;
  background: linear-gradient(90deg, #007bff, #00a8ff);
  color: white;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
